@import "../../variables.scss";

// .pic {
//   // width: 100vw;
//   max-height: 95vh;
// }

.intro {
  width: 100vw;
  height:95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../images/introPic.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hey {
  font-family: $cursive-font;
  font-size: 10rem;
  color: $teal;
  font-weight: bold;
}

@media (max-width: $tablet-max) {
  .intro {
    background-image:  url(../../images/introPic.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hey {
    font-size:4rem;
    color: $dark-gray;
  }

}
